body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
span{
    color: orange;
}
.first-section{
    display: flex;
    margin-bottom: 100px;
}
.first-half{
    width: 50%;
    font-size: 30px;
    padding-left: 70px;
    padding-top: 100px;
}
.first-half img{
    width: 100%;
}
.background{
    background-image: url(food-network-main/images/shapes/3.jpg);
}
.Button{
    text-decoration: none;
    color: palegoldenrod;
    background-color: rebeccapurple;
    padding: 10px 20px;
    border-radius: 50px;
    background-image: linear-gradient(rgb(185, 79, 185), rgb(53, 10, 97));
}
.third-section-text{
    text-align:center;
    padding: 20px 400px;
}
.third-section{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
 }
.third-section-item img{
    width: 100%;
}
.third-section-item{
    padding: 20px;
    box-shadow: 15px 15px 20px gray;
    border-radius: 20px;
    margin: 20px;
}
.forth-section{
    display: flex;
    margin-left: 120px;
    margin-right: 120px;
    margin-bottom: 100px;
    border-radius: 20px;
    box-shadow: 5px 5px 25px grey;
}
.forth-section-item{
    padding-left: 15%
}
.forth-section-item h1 {
    text-align: center;
}